body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #edf6f9;
    padding: 10px;
    /* position: fixed; */
    width: 100%;
    /* z-index: 1; */
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    margin-right: 100px;
}
.logoImage img {
    padding: 0;

    width: 400px;
    scale: (5);
}

nav button {
    padding: 13px 25px;
    border: none;
    background-color: #14213d;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

h1 {
    margin: 0;
    color: #14213d; 
}
#title{
    color: #14213d;
    margin: 2rem;
    padding: 0;
}
.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card h2 {
    margin-top: 0;
    color: #f8b418;
}

.card p {
    margin: 10px 0;
    color: #14213d;
}

.job-details {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
}

.job-details h2 {
    margin-top: 0;
    color: #f8b418;
}

.job-details p {
    margin: 10px 0;
    color: #14213d;
}

.job-details .description {
    margin-top: 15px;
    color: #14213d;
}

.job-details .contact-info {
    margin-top: 15px;
    color: #14213d;
}

.job-details .actions {
    margin-top: 15px;
}

button {
    background-color: #14213d;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    cursor: pointer;
    background-color: #eff3f9;
    color: #14213d;
    border: 1px solid #f8b418;

}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f8ff;
    padding: 20px;
}

.footer-left {
    font-size: 1rem;
    color: #14213d;
}
#verticalbar {
    background-color: #f8b418;
    width: 1px;
    height: 100px;
    padding: 5px;
    margin-left: -300px;
}
.footer-middle {
    margin-top: 25px;
    opacity: 0.5;
}
.footer-right {
    text-align: right;
}

.follow {
    text-align: center;
}

.follow h3 {
    margin: 8px 0;
    color: #14213d;
}

.social-media {
    display: flex;
    align-items: center;
}

.social-media p {
    margin: 0;
    margin-right: 10px;
    color: #14213d;
}

.social-media a {
    margin: 0 5px;
}

.social-media img {
    width: 24px;
    height: 24px;
}
