body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #edf6f9;
    padding: 10px;
    /* position: fixed; */
    width: 100%;
    /* z-index: 1; */
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    margin-right: 100px;
}
.logoImage img {
    padding: 0;

    width: 400px;
    scale: (5);
}

nav button {
    padding: 13px 25px;
    border: none;
    background-color: #14213d;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}
.hero_container{
    background-color: #ffffff;
}
.hero {
    text-align: center;
    padding: 50px 50px;
    margin-left: 20rem;
    display: flex;
}

.hero h2 {
    font-size: 3rem;
    margin: 20px 0;
    color: #14213d;
}

.highlight {
    background-color: #f8b418;
    padding: 0 5px;
}

.hero img {
    max-width: 100%;
    /* height: auto; */
    margin-top: 20px;
}

.services {
    text-align: center;
    padding: 50px 20px;
    background-color: #f9f9f9;
}

.services h1 {
    font-size: 2.2rem;
    margin: 20px 0;
    color: #14213d;
}

.service {
    display: inline-block;
    width: 22%;
    margin: 10px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    vertical-align: top;
}

.service img {
    width: 280px;
    height: 155px;
    border-radius: 8px 8px 0 0;
}

.service h4 {
    font-size: 1.2rem;
    color: #f8b418;
    margin: 10px 0;
}

.service p {
    font-size: 0.9rem;
    color: #14213d;
    margin: 0;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f8ff;
    padding: 20px;
}

.footer-left {
    font-size: 1rem;
    color: #14213d;
}

.footer-right {
    text-align: right;
}
.follow{
    text-align: center;
}

.follow h3 {
    margin: 8px 0;
    color: #14213d;
}

.social-media {
    display: flex;
    align-items: center;
}

.social-media p {
    margin: 0;
    margin-right: 10px;
    color: #14213d;
}

.social-media a {
    margin: 0 5px;
}

.social-media img {
    width: 24px;
    height: 24px;
}
